body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
  background: #4557c0;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}
.container {
  border: 1px solid #999;
  padding: 10px;
}
